#panel {
  padding: 0 10px;
  width: 250px;
  margin-right: 30px;
}

#panel h1 {
  font-size: 1.15em;
  margin: 0 0 1.5em;
}

#panel, #panel input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}